%p
    = link_to 'Login'
    = link_to 'Signup'
%h1 Cibus
%p Welcome to the tasty world of Cibus!

%table

- @categories.each do |category|
    %td= category.title

%p 
    = link_to 'Order', root_path


